.App {
  text-align: center;
  background-color:#1f2833 ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

h1 {
  text-align: left;
  padding-left: 1%;
  color: #66FCF1;
  background-color: #1f2833;
  margin: 0px;
}

hr {
  color:#66FCF1;
}

h3 {
  text-align: left;
  padding-left: 1%;
  color: #66FCF1;
  background-color: #1f2833;
  margin: 0px;
}

.title-raul{
  background-color: #0B0C10;
  color: #66FCF1
}

.form {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
}
